aio_pika>=9.1.5
nest_asyncio>=1.5.6
kubernetes>=26.1
prometheus_client>=0.14.1
th2-grpc-common>=4.2,<5
th2-common-utils>=2.2.0

urllib3>=2.5.0 # vulnerabilities: CVE-2025-50182 https://data.safetycli.com/v/77745/97c/ , CVE-2025-50181 https://data.safetycli.com/v/77744/97c/